{% for link in links %}
  {% if link.group[lang] != blank %}
    <h2>{{ link.group[lang] }}</h2>
    <ul class="uk-list uk-list-large">
  {% endif %}
  {% assign items = link.items | sort: 'title[lang]' %}
  {% if items %}
    {% for item in items %}
      {% if item.title[lang] %}
        <li>
          <a href="{{ item.link }}" target="_blank" rel="nofollow noreferrer noopener">{{ item.title[lang] }}</a>
          {% if item.description[lang] %} - {{ item.description[lang] }}{% endif %}
        </li>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if link.group[lang] != blank %}
    </ul>
  {% endif %}
{% endfor %}
